* {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

[align="right"] {
    border: solid black 1px;
}

h2.title {
    font-style: bold;
    font-size: 24px;
    color: rgb(0, 255, 170);
}

