
/* just the child
.main > p {
    color: blue;
    border: solid;
    width: 40%;
}
*/

/* descendant 
.main p { 
    color: blue;
    border: solid;
    width: 40%;
}
*/

/*General Sibling
.main ~ p {
    color: blue;
    border: solid;
    width: 40%;
}
*/

/* adjacent sibling (div+1)
.main + p {
    color: blue;
    border: solid;
    width: 40%;
}*/

/* Separator (the comma) 
.main, .main > p {
    color: blue;
    border: solid;
    width: 40%;
}
*/
