img {
    width: 25%;
    margin: 10% 30% 10%;
    border: solid green 12px;
    border-radius: 10%;
}

p {
    text-decoration: red overline 12px;
}

h1 {
    padding: 80px;
    margin: 80px;
    background-color: green;
    border: 2px ;
    padding: 80px;
    border: solid black 1px;
    border-radius: 10px;
}