@media (max-width: 400px) {
    body {
        background-color: blue;
    }
    .page-content {
        background-color: black;
        color: whitesmoke;
    }
    .page-description {
        font-size: 8px;
    }
    img {
        width: 25%;
    }
}

@media (max-height: 400px) {
    body {
        background-color: red;
    }
    .page-content {
        background-color: aqua;
    }
    .page-description {
        font-size: 12px;
    }
    img {
        width: 15%;
    }
}

@media (max-height: 400px) and (max-width: 400px) {
    body {
        background-color: purple;
    }
    .page-content {
        background-color: orange;
    }
    .page-description {
        font-size: 5px;
    }
    img {
        width: 5%;
    }
}